.pageContainer {
    
    display: flex;
    flex-direction: column;
  }
  
  .pageHeader {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .galleryContainer {
    flex: 1;
  }
  